@use "../base" as b;

.message-first{
   margin-top: 60px;
   @include b.mq(sm){
      margin-top:b.px2vw(30);
   }
   &__inner{
      @include b.inner();
   }
   &__title{
      text-align:center;
      font-size:40px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.05em;
      color:b.$main-color;
      @include b.mq(sm){
         font-size:b.px2vw(24);
      }
   }
   &__sub{
      margin-top: 10px;
      text-align:center;
      font-size:18px;
      font-weight: 500;
      letter-spacing: 0.05em;
      @include b.mq(sm){
         margin-top:b.px2vw(20);
         font-size:b.px2vw(15);
      }
   }
   &__box{
      width:100%;
      max-width:800px;
      margin:auto;
      margin-top: 35px;
      @include b.mq(sm){
         margin-top: b.px2vw(30);
      }
      &:after{
         content:"";
         display:block;
         clear:both;
      }
   }
   &__img{
      width:100px;
      float:left;
      margin-top: 5px;
      margin-right: 20px;
      padding-bottom: 20px;
      @include b.mq(sm){
         margin-top: b.px2vw(5);
         margin-right: b.px2vw(20);
         padding-bottom: b.px2vw(10);
      }
   }
   &__text{
      font-size:16px;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: 0.05em;
      @include b.mq(sm){
         font-size:b.px2vw(15);
      }
   }
}
.message-second{
   width:100%;
   max-width:1150px;
   margin:auto;
   margin-top: 80px;
   padding:0px 20px;
   @include b.mq(sm){
      max-width:initial;
      margin-top: b.px2vw(50);
      padding:0 b.px2vw(20);
   }
}