.board{
    position:relative;
    width:calc(100% - 30px);
    max-width:600px;
    height:500px;
    margin:auto;
    margin-top: 60px;
    background-color: green;
}
.enemyarea{
    position:absolute;
    top:10px;
    left:0;
    right:0;
    margin:auto;
    display:flex;
    justify-content:center;
    column-gap:30px;
    width:100%;
}
.myarea{
    position:absolute;
    bottom:10px;
    right:0;
    left:0;
    margin:auto;
    display:flex;
    justify-content:center;
    column-gap:30px;
    width:100%;
}
.btn01{
    position:absolute;
    bottom:-50px;
    right:0;
    display:block;
    width:100px;
    height:50px;
    border-radius:10px;
    cursor:pointer;
    color:white;
    background-color: blue;
}
.dice01{
    position:relative;
    width:100px;
    height:100px;
    background-color: white;
}
.dice01:before{
    content:"";
    display:inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    left:0px;
    top:0px;
}
.dice01.oldman:before{
    background-image: url(../img/oldman01.png);
    width:100%;
    height:100%;
}
.dice01.oldman02:before{
    background-image: url(../img/oldman02.png);
    width:100%;
    height:100%;
}
.dice01.oldman03:before{
    background-image: url(../img/oldman03.png);
    width:100%;
    height:100%;
}
.dice01.princess:before{
    background-image: url(../img/princess01.png);
    width:100%;
    height:100%;
}
.dice02{
    position:relative;
    width:100px;
    height:100px;
}
.dice02:before{
    content:"";
    display:inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    left:0;
    top:0;
    width:100px;
    height:100px;
}
.dice02.dice02-1:before{
    background-image: url(../img/dice01.png);
}
.dice02.dice02-2:before{
    background-image: url(../img/dice02.png);
}
.dice02.dice02-3:before{
    background-image: url(../img/dice03.png);
}
.dice02.dice02-4:before{
    background-image: url(../img/dice04.png);
}
.dice02.dice02-5:before{
    background-image: url(../img/dice05.png);
}
.dice02.dice02-6:before{
    background-image: url(../img/dice06.png);
}

